<!DOCTYPE html>
<html lang="en">
<head>
    <!--inject:../components/html/common-meta.html-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>in2health</title>
    <!--inject:../components/html/favicon.html-->
    <!--inject:../components/html/common-css.html-->
    <!--inject:../components/html/extra-header.html-->
</head>
<body>
    <div class="overlay"></div>
    <section class="login">
        <main class="login__content">
            <form method="post" action="" class="needs-validation" novalidate>
                <header class="login__header">
                    <div class="login__logo"></div>
                    <h1 class="login__title mt-9 mb-2">Forgot password</h1>
                    <p class="login__subtitle">Enter your email below to reset your password</p>
                </header>
                <section class="login__form mt-6 mb-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email">EMAIL</label>
                                    <input type="email" class="form-control" id="email" placeholder="john2doe.com" required>
                                    <div class="invalid-feedback">
                                        This field is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="login__footer">
                    <button class="btn btn-primary btn-block w-75 mx-auto mb-6">Reset password</button>
                    <a href="login.html">Looking for the login page? Click here</a>
                </footer>
            </form>
        </main>
        <aside class="login__aside">
            <div class="login__aside-text">
                Expert <b>Insights</b><br>
                Informed <b>Decisions</b><br>
                Better <b>Outcomes</b>
            </div>
        </aside>
    </section>
    
    <!--inject:../components/html/common-js.html-->

    <script>
    (function() {
        'use strict';
        window.addEventListener('load', function(){
            var forms = document.getElementsByClassName('needs-validation');
            
            var validation = Array.prototype.filter.call(forms, function(form){
                form.addEventListener('submit', function(event){
                    if ( form.checkValidity() === false )
                    {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    </script>
</body>
</html>