<!DOCTYPE html>
<html lang="en">
<head>
    <!--inject:../components/html/common-meta.html-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>in2health</title>
    <!--inject:../components/html/favicon.html-->
    <!--inject:../components/html/common-css.html-->
    <!--inject:../components/html/extra-header.html-->
</head>
<body>
    <div class="overlay"></div>
    <section class="login">
        <main class="login__content">
            <form method="post" action="" class="needs-validation" novalidate>
                <header class="login__header">
                    <div class="login__logo"></div>
                    <h1 class="login__title mt-9 mb-2">Let’s sign you up</h1>
                    <p class="login__subtitle">Already have an account? <a href="login.html">Login</a></p>
                </header>
                <section class="login__form mb-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="first-name">FIRST NAME</label>
                                    <input type="text" class="form-control" id="first-name" placeholder="Mohinder" required>
                                    <div class="invalid-feedback">
                                        This field is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="last-name">LAST NAME</label>
                                    <input type="text" class="form-control" id="last-name" placeholder="Jaimangal" required>
                                    <div class="invalid-feedback">
                                        This field is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="password">
                                        PASSWORD
                                        <img src="assets/images/icons/tooltip.svg" class="theme-tooltip theme-tooltip_small" data-toggle="popover" data-placement="top" data-content="Some tooltip...">
                                    </label>
                                    <input type="password" class="form-control" id="password" placeholder="Password" required>
                                    <div class="invalid-feedback">
                                        Sorry! We need min. 6 characters, 1 capital, 1 number
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="password-confirmation">RE-PASSWORD</label>
                                    <input type="password" class="form-control" id="password-confirmation" placeholder="Password" required>
                                    <div class="invalid-feedback">
                                        Sorry! We need min. 6 characters, 1 capital, 1 number
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="login__footer">
                    <input type="checkbox" name="tos" id="tos" value="true">
                    <label for="tos" class="normal">I accept these <a href="javascript:void(0)" data-toggle="modal" data-target=".tos-modal-lg">Terms and Conditions</a></label>
                    <button class="btn btn-primary btn-block w-75 mx-auto mt-5">Sign Up</button>
                </footer>
            </form>
        </main>
        <aside class="login__aside">
            <div class="login__aside-text">
                Expert <b>Insights</b><br>
                Informed <b>Decisions</b><br>
                Better <b>Outcomes</b>
            </div>
        </aside>
    </section>

    <div class="modal fade tos-modal-lg" tabindex="-1" role="dialog" aria-labelledby="tosModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content px-10 py-10" >
                <h1>Terms of use</h1>
                <br>
                <ul>
                    <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                    <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                    <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                    <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                </ul>
                 <ul>
                    <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                    <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                    <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                    <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                 </ul>
                 <ul>
                    <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                    <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                    <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                    <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                 </ul>
                <ul>
                    <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                    <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                    <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                    <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                </ul>
                 <ul>
                    <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                    <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                    <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                    <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                 </ul>
                 <ul>
                    <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                    <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                    <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                    <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
                 </ul>
            </div>
        </div>
    </div>
    
    <!--inject:../components/html/common-js.html-->

    <script>
    (function() {
        'use strict';
        window.addEventListener('load', function(){
            var forms = document.getElementsByClassName('needs-validation');
            
            var validation = Array.prototype.filter.call(forms, function(form){
                form.addEventListener('submit', function(event){
                    if ( form.checkValidity() === false )
                    {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    </script>
</body>
</html>