<!-- Modal -->
<div class="modal fade" id="requestPlan" tabindex="-1" role="dialog" aria-labelledby="requestPlanLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <section id="request-plan-step1">
                    <img src="assets/images/request-plan-mail.png">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="mt-3">Ready to request your action plan?</h3>
                    <p class="mt-2 mb-6">Click the button below and an In2Health dcotor will be in touch with you via 
                        <a href="mailto:dinadelestrange@gmail.com">dinadelestrange@gmail.com</a> within 
                        24 hours to let you know when your action plan will be ready.</p>
                    <button class="btn btn-primary btn-wider" type="button" id="requestPlanButton">Send request</button>
                    <hr class="my-8">
                    <p class="smaller"><b>Optional services:</b></p>
                    <p class="smaller">Our In2Health doctors can provide referrals (e.g. blood tests) for a small fee of $14.85, which covers 
                        the cost of reviewing and following up your results. Alternatively, we can also give you a summary 
                        for your GP at no additional charge. </p>
                </section>
                <section id="request-plan-step2" class="text-center d-none">
                    <img src="assets/images/request-plan-sent.png">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="mt-3">Your email has been<br>successfully sent!</h3>
                </section>
            </div>
        </div>
    </div>
</div>